<div class="center jumbotron">
  <h1>Welcome to the Sample App DoneBy Daniel Salgado</h1>

  <h2>
    Following this tutorial I achieve a robust Web App with Test Driven DEvelopment implemented with rspec Gem
    <a href="https://www.learnenough.com/ruby-on-rails-4th-edition-tutorial/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <h3>
    Integrating Bootstrap as FrontEnd Framework
  </h3>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

